<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" /> <!-- Needed for Media queries to work -->
    <title>{{ .Title }}</title>
    <script language="JavaScript" src="{{ .Site.BaseURL }}/js/jquery-3.2.1.min.js"></script>
    <script language="JavaScript" src="{{ .Site.BaseURL }}/js/main.js"></script>
    <script language="JavaScript" charset="utf-8" src="{{ .Site.BaseURL }}/js/highlight.js.min.js"></script> <!-- Weird ut8 needed -->
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}/css/bulma.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}/css/dracula.css" />
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}/css/main.css" />
    <link type="text/css" rel="stylesheet" href="{{ .Site.BaseURL }}/css/code.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<script>hljs.initHighlightingOnLoad();</script>