<a {{ $h := md5 .Inner }} class="button code-btn is-info is-outlined is-small" onclick="flash('{{ $h }}');">
    <span class="txt">{{ .Get 0 }}</span>
        <span data-id="{{ $h }}" class="code-handle icon">
        <i class="fa fa-code is-hidden-mobile"></i>
    </span>
</a><figure class="code card is-hidden-tablet">
    <div class="card-content">
        <a class="btn-copy button is-info is-small"  onclick="copyToClipboard($(this).next())">Copy</a>
        <pre><code {{ if len .Params | eq 3 }}{{ with .Get 2 }} class="{{.}}"{{ end }}{{ end }}>{{ .Inner }}</code></pre>
    </div>
</figure><div data-id="{{ $h }}" class="floating-code is-hidden-mobile">
    <figure class="code card">
        <div class="card-content">
            <a class="btn-copy button is-info is-small"  onclick="copyToClipboard($(this).next())">Copy</a>
            <pre><code {{ if len .Params | eq 3 }}{{ with .Get 2 }} class="{{.}}"{{ end }}{{ end }}>{{ .Inner }}</code></pre>
            {{ with .Get 1 }}<figcaption class="content">{{ . }}</figcaption>{{ end }}
        </div>
    </figure>
</div>