.post-header {
    position: absolute;
    z-index: 1;
    width: 100%;
}


#post {
    height: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#post .columns {
    margin-top: 0rem;
    margin-bottom: 0rem;
    height: 100%;
}

#left-column {
    height: 100%;
    overflow-y: scroll;
    padding-top: 11rem;
    margin-bottom: 0;
}

#right-column {
    height: 100%;
    overflow-y: scroll;
}

#right-column .filler {
    height: 50%;
}

.floating-code figure.animPulse{
    animation-iteration-count: 2;
    animation: pulse 0.5s 2;
}

@keyframes pulse {
    0% {
        background-color: #FFF;
    }
    50% {
        background-color: #ff9297;
    }
    100% {
        background-color: #FFF;
    }
}

figure.code {
    margin: 20px;
}

figure.code .card-content {
    padding: 0rem;
}

figure.code figcaption {
    margin: 1.5rem;
}

figure.code .hljs {
    padding: 1em;
}

figure.code a.btn-copy {
    position: absolute;
    right: 0;
    border-radius: 0px 0px 0px 10px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px solid;
    border-left: 0px solid;
}

.code-btn {
    padding-left: 1rem;
}
.code-btn .txt {
    margin-left: 0.5rem;
}