.post-wrapper
    display: flex
    flex-flow: column nowrap
    height: 100%

.post-header
    flex: 0 0 auto
    background-color: red
    .hero-body
        padding: 1rem

.post-row
    display: flex
    flex-flow: row wrap
    flex: 1 auto
    padding: 0
    margin: 0

.post-aside
    flex: 1 0 auto
    overflow-y: scroll
    width: 60%
    margin: 0 !important
    padding: 2rem

.post-aside-2
    width: 40%
    background-color: #525353
    -webkit-box-shadow: inset 2px 0px 6px 0px rgba(0,0,0,0.51)
    -moz-box-shadow: inset 2px 0px 6px 0px rgba(0,0,0,0.51)
    box-shadow: inset 2px 0px 6px 0px rgba(0,0,0,0.51)
    .filler
        height: 50%




.code-btn
    padding: 0.6rem
    padding-right: 1rem
    position: relative
    top: -0.05rem
    .txt
        margin-right: 0.5rem
        font-size: 1rem
        position: relative
        top: -0.05rem

/* Mobile last...

@media all and (max-width: 768px)
    .post-aside
        width: 100%
        overflow: visible
    .code-btn
        padding: 0
        cursor: default !important
        color: #4a4a4a !important
        border: none !important
        background: none !important
        box-shadow: none !important
        &:hover, &:active, &:visited
            padding: 0
            cursor: default !important
            color: #4a4a4a !important
            border: none !important
            background: none !important
            box-shadow: none !important